#home-page{
    display: grid;
    grid-template-columns: auto auto;
}

html, body{
    background: #0d1a29;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1{
    text-align: center;
    padding-top: 2%;
}
a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    text-decoration: underline #fff;
}
#links{
    
    margin-top: 0.2%;
}
img{
    display: block;
    width: 60%;
    margin: 5% auto 0.2% auto;
    border-radius: 5px;
}
#pictures-home > img{
    width: 60%;
    height: auto;
    border-radius: 5px;
    margin: auto auto auto auto;
}
#pictures-home{
    display: grid;
    margin: 3% auto 3% auto;
    grid-template-columns: auto auto;
}

@media screen and (max-width: 780px) and (orientation: portrait){
    html, body{
        font-size: smaller;
    }
    #links{
        display: grid;
        grid-template-columns: auto;
    }
    #pictures-home{
        display: block;
    }
    #home-page{
        display: block;
    }
}