html, body{
    background: #0d1a29;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1{
    text-align: center;
    padding-top: 2%;
}
a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    text-decoration: underline #fff;
}
#links{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 0.2%;
}
img{
    width: 40%;
    margin: 1% auto 0.2% auto;
    border-radius: 5px;
}
#pictures-home > img{
    width: 60%;
    height: auto;
    border-radius: 5px;
    margin: auto auto auto auto;
}
#pictures-home{
    display: grid;
    margin: 3% auto 3% auto;
    grid-template-columns: auto auto;
}